<div
  class="hero min-h-screen"
  style="background-image: url(&quot;images/road.jpg&quot;)"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <a class="text-6xl [view-transition-name:title] font-bold"
        >Dist | <Span class="text-accent">Map</Span>
      </a>
      <p class="my-5">
        DistMap is a web application designed to help users calculate distances
        between multiple points on a map. It offers an intuitive interface for
        selecting locations, measuring routes, and analyzing spatial
        relationships with precision and ease.
      </p>
      <button [routerLink]="['/full-screen-map']" class="btn btn-primary">
        Get Started
      </button>
    </div>
  </div>
</div>
