<div
  class="hero min-h-screen"
  style="
    background-image: url('images/road.jpg');
  "
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <a class="text-6xl [view-transition-name:title] font-bold"
        >Dist | <Span class="text-accent">Map</Span>
      </a>
      <p class="my-5">
        Dist | Map is a web application that allows users to visualize and
        interact with geographical data. It provides a user-friendly interface
        for exploring maps, analyzing spatial information, and gaining insights
        from location-based data.
      </p>
      <button [routerLink]="['/full-screen-map']" class="btn btn-primary">
        Get Started
      </button>
    </div>
  </div>
</div>
